.App-header {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  vertical-align: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* A text input as large as both App-sidebar and App-body */
.App-header-input {
  width: 64rem;
  gap: 1rem;
  padding: 0.5rem;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  background-color: transparent;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.1;
  transition: border-color 0.25s;
}

.App-header-input:focus {
  outline: 4px auto -webkit-focus-ring-color;
}

.App-header-input:focus-visible {
  border-color: #646cff;
}

.App-header-input::placeholder {
  color: #888;
}

.App-header-input:hover {
  border-color: #646cff;
}

.App-header-input:hover::placeholder {
  color: #aaa;
}

.App-sidebar {
  flex-basis: 15rem;
  flex-grow: 1;
  position: relative;
}

.App-nav-input {
  width: 94%;
  height: 2.25rem;
  padding: 0 0.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.1;
  border-radius: 0.5rem;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  transition: border-color 0.25s;
}

.send-invite {
  margin-top: 1rem;
  height: 3.25rem;
  width: 100%;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.1;
  border-radius: 0.5rem;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  transition: border-color 0.25s;
}

.send-invite::disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

send-invite:hover {
  border-color: #646cff;
}

.send-invite:focus {
  outline: 4px auto -webkit-focus-ring-color;
}

.send-invite:focus-visible {
  border-color: #646cff;
}

.App-body {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 66%;
  display: flex;
  flex-direction: column;
}

.App-body-controls {
  background-color: #c2c2c2;
  border-radius: 0.2rem;
  color: #111;
  padding: 1rem;
  flex-basis: 100%;
  display: flex;
  align-items: center;
  vertical-align: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.App-body-controls > * {
  flex-basis: 100%;
}

.App-body-controls > *:not(:last-child) {
  margin-right: 4rem;
  display: flex;
  align-items: center;
  vertical-align: center;
  gap: 1rem;
}

.App-body-form label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.1;
}
.App-body-form-footer-input {
  margin-left: 1rem;
  padding: 0 0.5rem;
  flex-basis: 100%;
  margin-top: 1rem;
  height: 2.25rem;
  width: 4em;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.1;
  border-radius: 0.5rem;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  transition: border-color 0.25s;
}

.App-body-form-footer > input {
  margin-top: 1rem;
  height: 3.25rem;
  width: 100%;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.1;
  border-radius: 0.5rem;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  transition: border-color 0.25s;
}

.App-body-form-footer > input:disabled {
  opacity: 0.5;
}

.App-footer {
  flex-basis: 100%;
}
