#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

/* Flex layout with header/footer and sidebar to left of body */

.App > section {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: stretch;
}

.wallet-adapter-button,
.wallet-adapter-dropdown {
  /* Align it all the way to the right */
  margin-left: auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Start Media Queries for Responsive Design */
/* Desktop / Tablet (Landscape) */
@media screen and (max-width: 1023px) {
  body {
    font-size: 0.9rem;
  }
  .App {
    flex-wrap: wrap;
  }
  .App > nav > ul {
    flex-wrap: wrap;
  }
  .App > nav > ul > li {
    margin-bottom: 1rem;
  }
  .App > section {
    flex-wrap: wrap;
  }
  .App-header {
    flex-basis: 100%;
    flex-wrap: wrap;
  }
  .App-header-input {
    flex-basis: 100%;
    width: auto;
  }
  .App-body {
    flex-basis: 100%;
  }
  .App-body-controls {
    flex-basis: 100%;
  }
  .App-body-form {
    flex-basis: 100%;
  }
  .App-body-form-footer {
    flex-basis: 100%;
  }
  .App-body-form-footer > input {
    flex-basis: 100%;
  }
  .App-body-form-footer-input {
    flex-basis: 100%;
    margin-left: 0;
    margin-top: 0;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
  }
}

/* Phone */
@media screen and (max-width: 767px) {
  body {
    font-size: 0.8rem;
    display: inline !important;
  }
  .App {
    flex-wrap: wrap;
  }
  .App > nav > ul {
    flex-wrap: wrap;
  }
  .App > nav > ul > li {
    margin-bottom: 1rem;
  }
  .App > section {
    flex-wrap: wrap;
  }
  .App-header {
    flex-basis: 100%;
    flex-wrap: wrap;
  }
  .App-header-input {
    flex-basis: 100%;
    width: 94%;
  }
  .App-body {
    flex-basis: 100%;
  }
  .App-body-controls {
    flex-basis: 100%;
  }
  .App-body-form {
    flex-basis: 100%;
  }
  .App-body-form-footer {
    flex-basis: 100%;
  }
  .App-body-form-footer > input {
    flex-basis: 100%;
  }
  .App-body-form-footer-input {
    flex-basis: 100%;
    margin-left: 0;
    margin-top: 0;
    width: 94%;
    margin-top: 0;
    margin-left: 0;
  }
}
