#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

/* Flex layout with header/footer and sidebar to left of body */

.App {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: stretch;
}

.App-header {
  flex-basis: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* A text input as large as both App-sidebar and App-body */
.App-header-input {
  width: 40rem;
  gap: 1rem;
  padding: 0.5rem;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  background-color: transparent;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.1;
  transition: border-color 0.25s;
}
.App-header-input:focus {
  outline: 4px auto -webkit-focus-ring-color;
}
.App-header-input:focus-visible {
  border-color: #646cff;
}
.App-header-input::placeholder {
  color: #888;
}
.App-header-input:hover {
  border-color: #646cff;
}
.App-header-input:hover::placeholder {
  color: #aaa;
}

.App-sidebar {
  flex-basis: 15rem;
  flex-grow: 1;
  position: relative;
}

.App-body {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 66%;
  display: flex;
  flex-direction: column;
}

.App-footer {
  flex-basis: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
